body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    display: flex;
    width: 960px;
    height: auto;
    flex-wrap: wrap;
}

button {
    width: 400px;
    height: 50px;
    margin: 15px;
    padding: 10px;
}
